body{
	background-color: rgba(98, 197, 17, 0.884);
	padding: 5%;
}

#informacionCentral {
	padding:20px;
	margin:auto;
	text-align: center;
	
	background-image: linear-gradient(to right, rgb(42, 189, 54) , rgb(94, 190, 4));
	border-style: solid;
	border-width: 4px;
	border-radius: 15px;
	border-color: rgb(0,0,0);
}


#informacionIzquierda {
	width: 40%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 20px;
	float: left;
	background-image: linear-gradient(to right, #237518 , rgb(86, 170, 8));
	border-style: solid;
	border-width: 4px;
	border-radius: 15px;
	border-color: rgb(0,0,0);
}

#informacionDerecha {
	width: 30%;
	padding-left:5%;
	padding-right:5%;
	padding-top: 20px;
	min-height: 350px;
	float: right;
	text-align: center;
	background-image: linear-gradient(to right,  #237518 , rgb(86, 170, 8));
	border-style: solid;
	border-width: 4px;
	border-radius: 15px;
	border-color: rgb(0,0,0);
}

#cajaCentral{

	text-align: center;
	float: center;
}

table{
	border-collapse: collapse;
	float: center;
	width: 100%;
}

table,th,td,tr{
	border-style: solid;
	border-color: rgb(23, 58, 3);
	border-width: 3px;
	
}

.panelBotones{

	padding: 20 px;
	margin: 30px;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(0,0,0);
	border-radius: 10px;

}


.boton{

	display: inline-block;
	background-color: rgb(168, 255, 128);
	padding: 10px;
	border:solid 1px transparent;
	min-width: 50px;
	margin: 5px;
	border: 3px solid rgb(12, 29, 3);
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;
	color: #119100;
	text-shadow: 1px 0 0 rgb(0, 66, 0);
}

.clear{
	clear: left;
}

.areasTexto{
 	width: 90%;
	border-radius: 10px;
	font-size: 30px;
	height: 30px;
	text-align: center;
}

p{
	text-transform: lowercase;
	font-size: 20px;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
	background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
	background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	text-align: justify;

  }

  .title
  {
	  text-align: center;
  }

  h1{
	  text-align: center;
	  color: rgb(22, 48, 4);
	  font-family: serif;
	  text-shadow: 1px 0 0 rgb(0, 255, 0);
	 
  }

hr{
	color: rgb(128, 88, 15);
}

table, th, td {
	border: 1px solid black;
  }
.resaltadoCelda
{
	border: 3px solid black;
}





